<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86996345197-c2ddg6647h6hp08mflli08ie2mca7lf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86996345197-c2ddg6647h6hp08mflli08ie2mca7lf8</string>
	<key>API_KEY</key>
	<string>AIzaSyDNfnD_3kVvIvueZVG55QQ8I_QkJAjOPic</string>
	<key>GCM_SENDER_ID</key>
	<string>86996345197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>flutter-lab-2715c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lab-2715c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86996345197:ios:5c775955899ae1e44b3a64</string>
</dict>
</plist>